@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*sass template*/
/*global classes*/
.btn-primary {
  background-color: #CB4955;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
  font-size: 1.1em;
  font: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 0.5em;
}

.btn-primary:hover {
  background-color: #E49F49;
}

.btn-secondary {
  background-color: #E49F49;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
  font-size: 1.1em;
  font: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 0.5em;
}

.btn-secondary-w {
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
  font-size: 1.1em;
  font: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 0.5em;
  color: #303030;
}

.btn-secondary:hover {
  background-color: #775FC7;
}

.btn-link {
  color: #ffffff;
}

.menu-usuario i {
  color: #ffffff;
  font-size: 1em;
}

/*header*/
.logo {
  font-family: "Gentium Book Basic", serif;
  font-size: 4em;
  font-weight: 400;
  font-style: italic;
  margin: 0%;
  padding: 0%;
}

.logo:hover {
  opacity: 85%;
}

.phone-info {
  color: #ffffff;
  text-align: end;
  font-weight: 600;
}

.phone-info p {
  margin-bottom: 0%;
  font: "Poppins", sans-serif;
  font-weight: 700;
}

.btn-usuario-dropdown
{
    color:#ffffff;
    font-weight: 400;
}

.btn-cuenta:hover, .btn-favoritos:hover, .btn-carrito:hover,.btn-usuario-dropdown{
    opacity: 80%;
    text-decoration-line: underline;
    text-underline-offset: 6px;
}
.search-form {
  margin-bottom: 0.5em;
}

.search-page {
  border-radius: 3em;
}

.search-bar {
  border: 3px solid rgba(255, 255, 255, 0);
  width: 16em;
}

.search-bar:focus {
  border: solid 3px #E49F49;
}

.btn-search {
  background-color: none;
  color: #ffffff;
  font-size: 1.5em;
  border-radius: 10em;
}

.btn-search:hover, .btn-search:focus {
  background-color: #ffffff;
  color: #3AB0AB;
  border-radius: 10em;
}

.form-control {
  border: solid 3px rgba(0, 0, 0, 0);
}

.form-control:hover {
  border: solid 3px #E49F49;
}

/*card*/
.card {
  border: none;
}

/*primary navbar*/
.primary-navbar {
  padding-top: 0%;
}

.nav-item, .nav-link {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #ffffff !important;
  padding: 0em 2em 0em 2em;
}

.nav-link {
  border-bottom: rgba(0, 0, 0, 0) solid 3px;
}

.nav-item :hover {
  opacity: 80%;
  text-decoration-line: underline;
  text-underline-offset: 6px;
}

.nav-menu-top {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #ffffff !important;
  text-decoration: none;
}

/*second navbar*/
.navbar-second .nav-link {
  color: #3AB0AB !important;
}

.etiqueta1 {
  background-color: #E49F49;
  text-align: center;
  color: #ffffff;
  padding: 0.5em 0em 0.5em 0em;
  border-radius: 3em;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.226);
}

.etiqueta2 {
  background-color: #ffffff;
  text-align: center;
  color: #303030;
  padding: 0.5em 0em 0.5em 0em;
  border-radius: 3em;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.226);
}

.btn-color {
  padding: 0.8em;
  cursor: pointer;
}

.qty-dropdown {
  width: 100%;
  font: "Poppins", sans-serif;
  border-radius: 0.5em;
  border: rgba(0, 0, 0, 0) solid 3px;
  height: 1.5em;
}

.cantidad {
  background-color: #E7E7E7;
  border-radius: 1em;
}

/*typography classes*/
/*especificar font families*/
body {
  font: "Poppins", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-gentium {
  font-family: "Gentium Book Basic", serif;
}

/*font sizes*/
.font-size-09 {
  font-size: 0.9em;
}

.font-size-07 {
  font-size: 0.7em;
}

.font-size-1 {
  font-size: 1em;
}

.font-size-2 {
  font-size: 2em;
}

.font-size-3 {
  font-size: 3em;
}

.font-size-4 {
  font-size: 4em;
}

/*hero index*/
.slider-hero {
  padding: 0%;
  margin: 0%;
}

.hero-title {
  font-family: poppins;
  font-weight: 700;
  color: #ffffff !important;
}

.section-title {
  font-family: poppins;
  font-weight: 700;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.section-subtitle {
  color: #ffffff;
  font-size: 3em;
  text-align: center;
  margin: 0.5em 0em 0.5em 0em;
}

.section-description {
  font-family: poppins;
  font-weight: 500;
  color: #ffffff !important;
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}

.subtitle {
  font-family: poppins;
  font-weight: 600;
}

.hero-description {
  font-family: poppins;
  font-weight: 500;
  color: #ffffff !important;
  line-height: 1.5em;
}

.carousel-image {
  height: 29.2em;
}

.carousel-caption {
  bottom: 4em;
}

.btn-link {
  text-underline-offset: 3px;
}

.btn-link:hover {
  color: rgba(255, 255, 255, 0.8);
  text-underline-offset: 3px;
}

.kp-title {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #303030 !important;
  margin-bottom: 0%;
  font-size: 1.2em;
  text-transform: uppercase;
}

.kp-description {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #303030 !important;
  margin-bottom: 0%;
  text-transform: uppercase;
}

.key-points {
  background-color: #E7E7E7;
}

.key-points i {
  font-size: 2.3em;
}

/*categorias index*/
.categorias .card-body {
  background-color: #CB4955;
  color: #ffffff;
  text-align: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.categorias {
  border-radius: 1em;
  text-align: center;
  background-color: #E7E7E7;
  padding: 0%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  margin: 0%;
}

.categorias .card-body:hover {
  background-color: #E49F49;
}

.categorias .card-img-top {
  height: 15em;
}

.card-title {
  font-weight: 700;
}

.card-text {
  font-weight: 500;
  font-size: 1.1em;
}

.categorias-section {
  margin-bottom: 10em;
}

.categorias1 {
  margin-bottom: 10em;
}

.categorias1 a, .categorias {
  text-decoration: none;
}

.eventos-chart {
  height: 30em;
}

/*beneficios index*/
.beneficios {
  margin-bottom: 5em;
}

.beneficios i {
  font-size: 4em;
  margin-top: 0.5em;
  color: #3AB0AB;
}

.beneficios-section .beneficios {
  text-align: center;
  border-radius: 1em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
}

.beneficios-section .card-title {
  font-size: 1.5em;
  color: #775FC7;
}

/*clientes index*/
.clientes-section {
  margin-bottom: 5em;
}

/*suscribir index
.suscribir-section
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/Banner/banner2.jpg);
}
*/
.suscribir-section h2 {
  margin-bottom: 0.5em;
}

.suscribir-form {
  border-radius: 3em;
  margin-right: 1em;
}

.suscribir-container {
  margin-bottom: 4em;
}

/*hero categorias*/
.hero-categorias {
  height: 35em;
}

/*busqueda categorias*/
.btn-group, .btn-group-filtros, .btn-group-menu {
  width: 100%;
}

.btn-filtro-menu {
  background-color: #E7E7E7;
}

.btn-filtro {
  width: 100%;
  border-bottom: #E7E7E7 solid 2px;
  text-align: start;
  font-weight: 600;
  color: #303030;
}

.btn-filtro2 {
  width: 100%;
  border-bottom: #E7E7E7 solid 2px;
  text-align: start;
  font-weight: 400;
  color: #303030;
}

.btn-filtro:hover, .btn-filtro:focus, .btn-filtro2:hover, .btn-filtro2:focus {
  background-color: #E7E7E7;
}

.productos-section {
  margin-bottom: 4em;
}

.productos-section h3 {
  font-family: poppins;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 2em;
}

.productos-section .grid-item {
  margin-bottom: 3em;
}

.grid-item {
  width: 19em;
}

.grid-product-item {
  text-align: center;
  background-color: #E7E7E7;
  border-radius: 1em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
  margin-bottom: 1em;
  padding: 2em;
}

.grid-product-item h5 {
  font: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
}

.grid-product-item p {
  font: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0.5em;
}

.grid-product-item h6 {
  font: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.grid-product-item i {
  color: #CB4955;
}

.grid-item {
  padding: 0em 1em 0em 1em;
}

.grid {
  margin-left: 5em;
}

/*producto hero*/
.rating i {
  font-size: 1.1em;
  color: #CB4955;
}

.producto-hero {
  font: "Poppins", sans-serif;
}

.producto-hero a {
  color: #303030;
}

.precio-info {
  font-weight: 600;
  font: "Poppins", sans-serif;
}

.precio-total {
  font: "Poppins", sans-serif;
  font-weight: 700;
}

.btn-compras .form-control {
  border: none;
}

.producto-carrito {
  border-bottom: #E7E7E7 solid 2px;
  border-top: #E7E7E7 solid 2px;
}

.producto-carrito a {
  color: #303030;
}

/*color template*/
.color-aqua {
  color: #3AB0AB;
}

.color-aqua-bg {
  background: #3AB0AB;
}

.color-red {
  color: #CB4955;
}

.color-red-bg {
  background: #CB4955;
}

.color-orange {
  color: #E49F49;
}

.color-orange-bg {
  background: #E49F49;
}

.color-purple {
  color: #775FC7;
}

.color-purple-bg {
  background: #775FC7;
}

.color-white {
  color: #ffffff;
}

.color-white-bg {
  background: #ffffff;
}

.color-grey {
  color: #E7E7E7;
}

.color-grey-bg {
  background: #E7E7E7;
}

.color-black {
  color: #E7E7E7;
}

.color-black-bg {
  background: #303030;
}

/*# sourceMappingURL=style.css.map */
