@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*sass template*/
/*global classes*/

:root {
    --white: #ffffff;
    --purple: #775FC7;
    --red: #c54955;
    --orange: #E49F49;
    --black: #414141;
    --grey: #E7E7E7;
    --grey3: #f3f3f3;
    --grey2: #9b9b9b;
    --aqua: #3AB0AB;
    --yellow: #F0DC74;
}

/*globales*/
body {
    font-family: "Poppins", sans-serif;
    color: var(--black);
    font-size: smaller;
}

.fondo1
{
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(assets/fondo1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fondo2
{
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(assets/fondo2.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.lh-10
{
    line-height: 30px;
}

.uppercase {
    text-transform: uppercase;
}

.ns {
    box-shadow: none !important;
}

.ss {
    text-shadow: none !important;
}

.ws {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3) !important;
}

/*Navbar*/

/*Logo*/
.navbar-brand {
   width: 4em !important;
}

.navbar-brand:hover {
    opacity: 85%;
}

.nav-link:hover, .nav-link.active {
    opacity: 85%;
    text-decoration-line: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 4px;
    text-decoration-color: var(--orange);
}

.header-admin .nav-link.active, .header-admin .nav-link:hover {
    opacity: 85% !important;
    text-decoration-line: underline !important;
    text-underline-offset: 25px !important;
    text-decoration-thickness: 4px !important;
    text-decoration-color: var(--orange) !important;
}

.admin-nav-menu {
    text-decoration: none;
}

.admin-nav-menu:hover {
    opacity: 85% !important;
    text-decoration-line: underline !important;
    text-underline-offset: 26px !important;
    text-decoration-thickness: 4px !important;
    text-decoration-color: var(--orange) !important;
}

footer a {
    text-decoration: none;
}

.admin-nav-menu:focus {
    text-decoration-color: var(--red) !important;
}

.secondary-navbar .nav-link.active, .secondary-navbar .nav-link:hover {
    opacity: 85% !important;
    text-decoration-line: underline;
    text-underline-offset: 13px;
    text-decoration-color: var(--aqua);
    text-decoration-thickness: 4px;
}

.dropdown-item {
    color: var(--black);
    font-size: smaller;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-item:hover {
    background-color: var(--purple);
    color: var(--white);
}

.secondary-navbar .nav-item {
    font-weight: 500;
}


/*botones*/

.btn {
    font-weight: 600;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    border: none;
    padding: .7em 1em .7em 1em;
}

.btn-primary {
    background-color: var(--red);
}

.btn-primary:hover {
    background-color: var(--yellow);
}

.btn-secondary {
    background-color: var(--orange);
}

.btn-secondary:hover {
    background-color: var(--purple);
}

.btn-third {
    background-color: var(--purple);
}

.btn-third:hover {
    background-color: var(--aqua);
}

.btn-link {
    box-shadow: none;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    text-decoration-line: underline;
    text-underline-offset: 6px;
}

.btn-link2 {
    box-shadow: none;
    text-shadow: none;
    text-decoration-line: underline;
    text-underline-offset: 6px;
}

.btn-link:hover {
    background-color: var(--orange);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.0);
    text-decoration: none;
}

.btn-link2:hover, .btn-link2:focus {
    background-color: var(--orange);
    text-shadow: none;
    text-decoration: none;
    color: var(--white) !important;
}

.btn-color {
    cursor: pointer;
    border-radius: 5em;
    box-shadow: none;
    border: #00000000 solid 4px;
}

.btn-color:hover {
    border: var(--white) solid 4px;
}

.btn-color:active, .btn-color:focus {
    border: var(--red) solid 4px;
}

.form-control, .qty-dropdown {
    height: 2.6em;
    padding-left: 1em;
    padding-right: 1em;
}

.form-control2 {
    height: 2.6em;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    border: none !important;
    border-bottom: solid 2px var(--grey) !important;
}

.form-control2:hover {
    border-bottom: solid 2px var(--orange) !important;
}

.form-control2:focus {
    border-bottom: solid 2px var(--red) !important;
}

.form-control, .qty-dropdown, .color-select, .color-select, .select2-selection {
    border: solid 3px var(--grey) !important;
    border-radius: 1em !important;
}

textarea {
    height: auto !important;
}

.form-control:hover, .form-control:focus, .qty-dropdown:hover, .qty-dropdown:focus, .color-select:hover, .color-select:focus, .select2-selection:hover {
    border: solid 3px var(--orange) !important;
}

.formulario {
    background-color: var(--white);
    border: var(--grey) solid 3px !important;
}

.categorias-filtro .formulario:hover {
    border-color: var(--red) !important;
    cursor: pointer;
}

.color-select, .select2-selection {
    background-color: var(--white) !important;
    /*height: 13em !important;*/
}

.select-cantidades select {
    width: 100%;
}

.select2-search__field {
    height: auto !important;
    color: var(--black);
    font-family: "Poppins"sans-serif !important;
    font-size: 1em !important;
    padding: 0.2em !important;
}

.select2-selection__choice {
    background-color: var(--purple) !important;
    color: var(--white);
    font-family: "Poppins"sans-serif;
    font-size: 1em !important;
    border: var(--white) solid 4px !important;
    border-radius: 4px !important;
}

.select2-selection__choice__remove:hover {
    opacity: 30%;
}

.select2-selection__choice span {
    color: var(--white);
    font-family: "Poppins"sans-serif;
    font-size: 1em !important;
}

.select2-selection__choice span {
    color: var(--white);
    font-family: "Poppins"sans-serif;
    font-size: 1em !important;
}

.select2-selection__choice span:hover {
    color: var(--white) !important;
}

select option:hover {
    background-color: var(--grey) !important;
    color: var(--black) !important;
}

.etiqueta-evento {
    background-color: var(--orange);
    border-radius: 3em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

#costmin2, #costmin3, #costmin4, #costmin5, #costmin6, #costmin7 {
    display: none !important;
}

/*typography classes*/

/*especificar font families*/

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-gentium {
    font-family: "Gentium Book Basic", serif;
}

.fs-07 {
    font-size: 0.7em !important;
}

.fs-09 {
    font-size: 0.9em !important;
}

.fs-1 {
    font-size: 1em !important;
}

.fs-1-2 {
    font-size: 1.2em !important;
}

.fs-1-5 {
    font-size: 1.5em !important;
}

.fs-2 {
    font-size: 2em !important;
}

.fs-2-5 {
    font-size: 2.5em !important;
}

.fs-3 {
    font-size: 3em !important;
}

.fs-3-5 {
    font-size: 3.5em !important;
}

.fs-4 {
    font-size: 4em !important;
}

.fs-4-5 {
    font-size: 4.5em !important;
}

/*font weight*/

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.hero-title {
    font-weight: 700;
    font-size: 3em;
}

.hero-description {
    font-weight: 600;
    line-height: 1.5em;
}

.section-title {
    font-weight: 800;
}

.section-subtitle {
    font-weight: 700;
}

/*categorias index*/
.categorias .card-body, .eventos .card-body, .dashboard-card .card-body {
    color: var(--white);
}

.categorias, .eventos, .dashboard-card {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    background-color: var(--purple);
}

.categorias .card-body:hover, .eventos .card-body:hover, .dashboard-card .card-body:hover {
    background-color: var(--orange);
}

.card {
    text-decoration: none;
    border: none;
}

.card-img-top {
    background-color: var(--white);
    border-left: var(--grey) solid;
    border-top: var(--grey) solid;
    border-right: var(--grey) solid;
}

.card-img-top:hover {
    background-color: var(--grey3);
}

.dashboard-card-icon {
    font-size: 6em;
}

.beneficios-section .beneficios {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.producto-carrito {
    border-bottom: var(--grey) solid 2px;
    border-top: var(--grey) solid 2px;
}

.thumbnail {
    height: 12em;
}

.thumbnail-producto {
    height: 17em;
}

.producto-img {
    height: 32em !important;
}

/*COLORES*/
.color-aqua {
    color: var(--aqua) !important;
}

.color-aqua-bg {
    background: var(--aqua) !important;
}

.color-red {
    color: var(--red) !important;
}

.color-red-bg {
    background: var(--red) !important;
}

.color-orange {
    color: var(--orange) !important;
}

.color-orange-bg {
    background: var(--orange) !important;
}

.color-purple {
    color: var(--purple) !important;
}

.color-purple-bg {
    background: var(--purple) !important;
}

.color-white {
    color: var(--white) !important;
}

.text-white {
    color: var(--white) !important;
}

.color-white-bg {
    background: var(--white) !important;
}

.color-grey {
    color: var(--grey) !important;
}

.color-grey-bg {
    background: var(--grey) !important;
}

.color-grey2 {
    color: var(--grey2) !important;
}

.color-grey3{
    color: var(--grey3) !important;
}

.color-grey2-bg {
    background: var(--grey2) !important;
}

.color-grey3-bg {
    background: var(--grey3) !important;
}

.color-black {
    color: var(--black) !important;
}

.color-black-bg {
    background: var(--black) !important;
}



/*# sourceMappingURL=style.css.map */

/*RESPONSIVE*/
/*breakpoint mediano*/

@media (max-width:999px) {
    .fs-3 {
        font-size: 2.5em !important;
    }
}


/* Required * */
.required:after {
    content: " *";
    color: red;
}