@import url("https://use.typekit.net/uac1ayu.css");

:root {
    --red: #ef1440;
    --yellow: #f8bc3a;
    --aqua: #3eccca;
    --blue: #3700B3;
    --purple: #6b10eb;
    --grey: #efefef;
    --darkblue: #191841;
}

/*GLOBALES*/
body {
    font-family: fieldwork, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--darkblue);
}

body a {
    text-decoration: none;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--darkblue);
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


textarea {
    height: 6em !important;
}


/*NAVBAR*/
.navbar-toggler {
    border: none;
}

.navbar-toggler:hover, .logo:hover {
    opacity: 85%;
}

.nav-link {
    color: var(--grey);
    border-radius: 2em;
    font-weight: 600;
    border: solid 2px rgba(255, 255, 255, 0);
}

.nav-link.active, .nav-link:focus {
    background-color: var(--aqua);
    font-weight: 600;
    color: white !important;
}

.nav-link:hover {
    background-color: rgba(99, 0, 238, 0.85);
    color: white !important;
}

#nav-link-signup {
    border-color: white;
}

#nav-link-signup:hover {
    border-color: var(--purple);
}

.secondary .nav-link.active, .secondary .nav-link:focus {
    background-color: var(--aqua);
    color: white !important;
}

.secondary .nav-link:hover {
    background-color: var(--blue);
}

/*
.fondo1 {
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(assets/fondo1.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo2 {
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(assets/fondo2.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo3 {
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(assets/fondo3.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo4 {
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(assets/notfound.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo5 {
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(assets/fondo4.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

.producto-hero .carousel {
    height: 30em !important;
}

.img-thumbnail-table {
    height: 6em;
}

.table .carousel {
    height: 6em !important;
}

.categorias-filtro .carousel {
    height: 12em !important;
}

.carousel-img {
    object-fit: contain !important;
}


.lh-22 {
    line-height: 22px;
}

/*FORMS*/
table>:not(caption)>*>* {
    border-bottom: none !important;
}

.table>:not(caption)>*>* {
    padding: 1em 2em 1em 2em;
}

tbody {
    border-radius: .3em;
}

tr th {
    padding-bottom: 1em !important;
    font-weight: 600;
}

tr td {
    border-bottom: .3px solid rgb(220, 220, 220) !important;
}

.costo tr td {
    border: none !important;
}

.rounded-border {
    border-radius: 3em;
}

.form-control {
    border: solid 1px var(--grey);
    border-radius: .5em;
}

.form-control:hover, .form-control:focus {
    border: solid 2px var(--purple);
}

.form-card {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.categorias-filtro .form-card:hover {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}


.btn {
    font-weight: 600;
    border: none;
    padding: .7em 1.7em .7em 1.7em;
    color: white;
}

.btn-link {
    text-underline-offset: 1px;
}

.btn-primary {
    background-color: var(--red);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: rgba(239, 20, 64, 0.85);
}

.btn-secondary {
    background-color: var(--purple);
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: rgba(99, 0, 238, 0.85);
}

.btn-light {
    border-radius: 3em;
}

.btn-disabled {
    background-color: var(--blue);
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.btn-light:hover {
    background-color: var(--grey) !important;
}

/*FOOTER*/

#footer, #footer p, #footer a {
    color: var(--grey);
}

.footer-link:hover {
    color: var(--aqua) !important;
    opacity: 85%;
    font-weight: 600;
}

.footer-copy-link:hover {
    color: rgba(99, 0, 238, 0.9) !important;
    opacity: 85%;
}

/*CARDS*/

.card {
    border: none;
    border-radius: 0%;
}

.card-categorias, .card-kits {
    color: white;
}

.card-categorias:hover, .card-kits:hover {
    color: rgba(255, 255, 255, 0.85);
}

.card-icon {
    border-radius: 0.3em;
}

.dashboard-card:hover {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.go-arrow:hover {
    background-color: var(--grey) !important;
}

.go-arrow-back:hover {
    color: rgba(239, 20, 64, 0.7) !important;
}

.dashboard .cotizaciones .go-arrow:hover {
    background-color: var(--grey);
    color: #6b10eb !important;
}

.scroll-box {
    height: 100px;
    width: 100%;
    overflow: auto;
    border-radius: .5em;
}

.card-thumbnail {
    height: 10em;
}

.thumbnail-producto {
    height: 10em;
}

#carouselId {
    height: 15em;
}

/*IMAGEN*/
.form {
    width: 500px;
    margin: 5% auto;
}

.form__container {
    position: relative;
    width: 100%;
    height: 100px;
    border: 2px dashed rgb(238, 238, 238);
    border-radius: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: silver;
    margin-bottom: 5px;
}

.form__container.active {
    background-color: rgba(192, 192, 192, 0.2);
}

.form__container:hover {
    background-color: rgba(192, 192, 192, 0.1);
}

.form__file {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

.form__files-container {
    display: block;
    width: 100%;
    font-size: 0;
    margin-top: 20px;
}

.form__image-container {
    display: inline-block;
    width: 49%;
    height: 200px;
    margin-bottom: 10px;
    position: relative;
}

.form__image-container:not(:nth-child(2n)) {
    margin-right: 2%;
}

.form__image-container:after {
    content: "✕";
    position: absolute;
    line-height: 200px;
    font-size: 30px;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.form__image-container:hover:after {
    opacity: 1;
    cursor: pointer;
}

.form__image {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%;
}


/*COLORES*/
.text-aqua {
    color: var(--aqua) !important;
}

.bg-aqua {
    background: var(--aqua) !important;
}

.text-red {
    color: var(--red) !important;
}

.bg-red {
    background: var(--red) !important;
}

.text-darkblue {
    color: var(--darkblue) !important;
}

.bg-darkblue {
    background: var(--darkblue) !important;
}

.text-purple {
    color: var(--purple) !important;
}

.bg-purple {
    background: var(--purple) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.text-grey {
    color: var(--grey) !important;
}

.bg-grey {
    background: var(--grey) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.bg-blue {
    background: var(--blue) !important;
}

/*# sourceMappingURL=style.css.map */

/*RESPONSIVE*/
/*breakpoint mediano*/

@media (max-width:999px) {}


/* Required * */
required:after {
    content: " *";
    color: red;
}

.fs-07 {
    font-size: 0.7em !important;
}

.fs-09 {
    font-size: 0.9em !important;
}

.fs-1 {
    font-size: 1em !important;
}

.fs-1-2 {
    font-size: 1.2em !important;
}

.fs-1-5 {
    font-size: 1.5em !important;
}

.fs-2 {
    font-size: 2em !important;
}

.fs-2-5 {
    font-size: 2.5em !important;
}

.fs-3 {
    font-size: 3em !important;
}

.fs-3-5 {
    font-size: 3.5em !important;
}

.fs-4 {
    font-size: 4em !important;
}

.fs-4-5 {
    font-size: 4.5em !important;
}

/*font weight*/

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.image-input {
    border: var(--grey);
    border: 2px solid var(--grey);
}

.container-img {
    position: relative;
}

.container-img .gallery {
    height: 13em;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: var(--grey) 2px solid;
    border-radius: .5em;
}

.container-img .gallery img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container-img .gallery .close {
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
    color: var(--darkblue);
}

.img-thumbnail-product {
    width: 5.5em;
    height: 5.5em;
    object-fit: contain;
    border: #efefef solid 2px;
    border-radius: .5em;
}

.container-img-product {
    position: relative;
    overflow: hidden;
}

.container-img-product .close {
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
    color: var(--darkblue);
}

.alert-success {
    background-color: var(--aqua);
    color: white;
    border: none;
}

.alert-danger {
    background-color: #f8bc3a;
    color: white;
    border: none;
}