/*color template*/

.color-aqua
{
    color:$color-aqua;
}

.color-aqua-bg
{
    background:$color-aqua;
}

.color-red
{
    color:$color-red;
}

.color-red-bg
{
    background:$color-red;
}

.color-orange
{
    color:$color-orange;
}

.color-orange-bg
{
    background:$color-orange;
}

.color-purple
{
    color:$color-purple;
}

.color-purple-bg
{
    background:$color-purple;
}

.color-white
{
    color:$color-white;
}

.color-white-bg
{
    background:$color-white;
}

.color-grey
{
    color:$color-grey;
}

.color-grey-bg
{
    background:$color-grey;
}

.color-black
{
    color:$color-grey;
}

.color-black-bg
{
    background:$color-black;
}
