/*typography classes*/

/*especificar font families*/


body
{
    font: $font-poppins;
}

.font-poppins
{
    font-family: $font-poppins;
}

.font-gentium
{
    font-family: $font-gentium;
}
/*font sizes*/

.font-size-09
{
font-size:0.9em;
}

.font-size-07
{
font-size:0.7em;
}

.font-size-1
{
font-size: 1em;
}

.font-size-2
{
font-size: 2em;
}

.font-size-3
{
font-size: 3em;
}

.font-size-4
{
font-size: 4em;
}


/*hero index*/
.slider-hero
{
    padding:0%;
    margin:0%;
}

.hero-title{
    font-family: poppins;
    font-weight: 700;
    color: $color-white !important;
}
.section-title
{
    font-family: poppins;
    font-weight: 700;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.section-subtitle
{
    color: $color-white;
    font-size: 3em;
    text-align: center;
    margin: .5em 0em .5em 0em;
}

.section-description
{
    font-family: poppins;
    font-weight: 500;
    color: $color-white !important;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 2em;
}

.subtitle
{
    font-family: poppins;
    font-weight: 600;
}

.hero-description
{
    font-family: poppins;
    font-weight: 500;
    color: $color-white !important;
    line-height: 1.5em;
}

.carousel-image
{
    height: 29.2em;
}

.carousel-caption
{
    bottom: 4em;
}

.btn-link
{
    text-underline-offset: 3px;
}

.btn-link:hover
{
    color: rgba(255, 255, 255, 0.8);
    text-underline-offset: 3px;
}

.kp-title
{
    text-transform: uppercase;
    font-family: $font-poppins;
    font-weight: 600;
    color: $color-black !important;
    margin-bottom: 0%;
    font-size: 1.2em;
    text-transform: uppercase;
}

.kp-description
{
    font-family: $font-poppins;
    font-weight: 700;
    font-size: 1.2em;
    color: $color-black !important;
    margin-bottom: 0%;
    text-transform: uppercase;
}


.key-points
{
    background-color: $color-grey;
}

.key-points i
{
    font-size: 2.3em;
}
/*categorias index*/

.categorias .card-body
{
    background-color: $color-red;
    color: $color-white;
    text-align: center;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.categorias
{
    border-radius: 1em;
    text-align: center;
    background-color: $color-grey;
    padding: 0%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.20);
    margin: 0%;
}

.categorias .card-body:hover
{
    background-color: $color-orange;
}

.categorias .card-img-top
{
    height: 15em;
}

.card-title
{
    font-weight: 700;
}

.card-text
{
    font-weight: 500;
    font-size: 1.1em;
    
}
.categorias-section
{
    margin-bottom: 10em;

}

.categorias1
{
    margin-bottom: 10em;
}

.categorias1 a, .categorias
{
    text-decoration:none;
}

.eventos-chart
{
    height: 30em;
}
/*beneficios index*/

.beneficios 
{
    margin-bottom: 5em;
   
}

.beneficios i
{
    font-size: 4em;
    margin-top: .5em;
    color: $color-aqua;
}


.beneficios-section .beneficios
{
    text-align: center;
    border-radius: 1em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
}

.beneficios-section .card-title
{
    font-size:1.5em;
    color: $color-purple;
}



/*clientes index*/
.clientes-section
{
    margin-bottom: 5em;

}


/*suscribir index
.suscribir-section
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/Banner/banner2.jpg);
}
*/

.suscribir-section h2
{
    margin-bottom: .5em;
}


.suscribir-form
{
    border-radius: 3em;
    margin-right: 1em;
}

.suscribir-container
{
    margin-bottom: 4em;
}



/*hero categorias*/
.hero-categorias
{
    height: 35em;
}

/*busqueda categorias*/



.btn-group, .btn-group-filtros, .btn-group-menu
{
    width: 100%;
}

.btn-filtro-menu
{
    background-color: $color-grey;
}

.btn-filtro
{
    width: 100%;
    border-bottom:$color-grey solid 2px;
    text-align: start;
    font-weight: 600;
    color: $color-black;
}
.btn-filtro2
{
    width: 100%;
    border-bottom:$color-grey solid 2px;
    text-align: start;
    font-weight: 400;
    color: $color-black;
}

.btn-filtro:hover, .btn-filtro:focus, .btn-filtro2:hover, .btn-filtro2:focus
{
    background-color:$color-grey;
}

.productos-section
{
    margin-bottom: 4em;
}

.productos-section h3
{
    font-family: poppins;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 2em;
}

.productos-section .grid-item
{
    margin-bottom: 3em;
}

.grid-item
{
    width: 19em;
}

.grid-product-item
{
    text-align: center;
    background-color: $color-grey;
    border-radius: 1em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
    margin-bottom: 1em;
    padding: 2em;
}

.grid-product-item h5
{
    font: $font-poppins;
    font-weight: 700;
    font-size: 1.1em;
}

.grid-product-item p
{
    font: $font-poppins;
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 0.5em;
}

.grid-product-item h6
{
    font: $font-poppins;
    font-weight: 700;
    font-size: 1em;
}

.grid-product-item i
{
    color: $color-red;
}

.grid-item
{
    padding: 0em 1em 0em 1em;
}

.grid
{
    margin-left: 5em;
}

/*producto hero*/

.rating i
{
    font-size: 1.1em;
    color: $color-red;
}

.producto-hero
{
    font: $font-poppins;
}

.producto-hero a
{
    color: $color-black;
    
}

.precio-info
{
    font-weight: 600;
    font: $font-poppins;
}

.precio-total
{
    font: $font-poppins;
    font-weight: 700;
}

.btn-compras .form-control
{
    border: none;
}

.producto-carrito
{
    
    border-bottom: $color-grey solid 2px;
    border-top: $color-grey solid 2px;
}

.producto-carrito a
{
    color: $color-black;
}