$font-poppins:"Poppins", sans-serif;
$font-gentium:"Gentium Book Basic", serif;

$color-aqua:#3AB0AB;
$color-red:#CB4955;
$color-orange:#E49F49;
$color-purple:#775FC7;
$color-white:#ffffff;
$color-grey:#E7E7E7;
$color-black:#303030;
